
@media (max-width: 768px) {


  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  .parent-div {
    flex-direction: column;
  }
  .new-patch {
    font-size: 0.6em;
    bottom: 4px;
  }

}



.outer-wrapper {
  max-width: 800px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  margin-bottom: 5px;
}

.hero h2 {
  display: inline;
}

#intro {
  margin-bottom: 15px;
  color: #aaaaaa;
  font-size: 1.4rem;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.descriptionblack {
  color: #141414;
}

#creator {
  margin-bottom: 15px;
}

hr {
  margin: 0 !important;
  border-color: #e7e7e7 !important;
}

#promptOutput {
  height: 300px;
  border: 0px solid #434343;
  background-color: #f1f1f1;
  padding: 20px;
  /* font-size: 1.1rem; */
}

button:hover {
  background-color: #757de8;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding-left: 0;
  padding-right: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}


.copyNotification {
  display: none;
  color: rgb(119, 179, 93);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-left: 20px;
}

.copyNotification.show {
  display: inline-block;
  opacity: 1;
}

.copyButton {
  padding-bottom: 40px;
}

input[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  margin-top: 10px;
  margin-right: 5px;
}

.checkbox {
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  vertical-align: middle;
}

.get-inline {
  vertical-align: middle;
}

.checkbox-div {
  display: flex;
  align-items: center;
}


html {
  scroll-behavior: smooth;
}

/* Slider */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

textarea {
  resize: none;
}

textarea::placeholder, input::placeholder {
  color: #aaaaaa;
}


#footer-text {
  margin-top: 20px;
  font-size: 1.4rem;
}


.new-patch {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 20px;
  background-color: #757de8;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 0.7em;
  position: relative;
  bottom: 2px;

}

.engine {
  display: flex;
  padding-bottom: 1.2em;
}

.engine span {
  position: relative;
  top: 2px;
}

.engine-selection {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

/* .engine-selection input, .engine-selection label {
  flex: 1;
} */

.engine-selection input {
  margin-top: 8px;
  margin-right: 8px;
}

.engine-selection label {
  padding-right: 20px;
}



.options {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #141414;
  padding:  3;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

  input {
    display: none;
  }
 
.options input, .options label {
  flex: 1;
}

  /* .options > label */
  > label {
    display: inline-block;
    position: relative;
    /* margin-right: 49px;
    padding-left: ; */
    cursor: pointer;

    /* .options > label:before
    this creates the outer circle for faux radio button  */
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 50%;
      margin-top: -8px;
      border: 1px solid #fff;
      border-radius: 8px;
    }

    /* .options > label:after
     this creates the inner circle for active faux radio button */
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 8px;
      margin-top: 0;
      background: #fff;
      border-radius: 4px;
      transition: .2s ease-in-out;
    }
  }

  /* .options :checked + label:after */
  :checked + label {
    &:after {
      height: 8px;
      width: 8px;
      margin-top: -4px;
      left: 4px;
    }
  }
}